<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!-- Site Properities -->
    <title>Поставщики</title>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/semantic.css">
    <link rel="stylesheet" href="Scripts/choosen/chosen.css">
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.address/1.6/jquery.address.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script src="Scripts/choosen/chosen.jquery.min.js"></script>
    <script src="app/model/Query.js"></script>
    <script src="Scripts/jquery.easyModal.js"></script>
    <script src="scripts/semantic.js"></script>
    <script src="Scripts/angular.js"></script>
    <script src="app.js"></script>
    <script src="Scripts/globalize/globalize.js"></script>
    <script src="Scripts/dx.chartjs.js"></script>
    <script src="app/model/Contract.js"></script>
    <script src="app/model/ChartData.js"></script>
    <script src="app/model/Product.js"></script>
    <script src="app/Services/SupliersService.js"></script>
    <script src="app/controllers/ContractsController.js"></script>
    <script src="app/model/Dictionary.js"></script>
    <script src="app/controllers/DictionariesController.js"></script>
    <script src="app/model/AdditionalTypes.js"></script>
    <script src="app/model/Customer.js"></script>
    <script src="app/controllers/MapController.js"></script>
    <script src="app/controllers/ChartsController.js"></script>
    <link rel="stylesheet" type="text/css" href="feed.css">
    <script src="feed.js"></script>
    <link href="Scripts/fooTable/footable.standalone.css" rel="stylesheet" />
    <script src="Scripts/fooTable/footable.js"></script>
    <script src="Scripts/fooTable/footable.sort.js"></script>
    <script src="Scripts/fooTable/footable.paginate.js"></script>
    <script>
        var myApp = angular.module('myApp', ['dx']);
        $(window).load(function (parameters) {
            OnMapClick();
            $('table').trigger('footable_initialize');
        });
        function OnMapClick() {
            $("#mapContainer").show();
            $("#dashContainer").hide();
            $("#tableContainer").hide();
            $("#mapButton").addClass("positive");
            $("#dashButton").removeClass("positive");
            $("#tableButton").removeClass("positive");
        }
        function OnTableClick() {
            $("#mapContainer").hide();
            $("#dashContainer").hide();
            $("#tableContainer").show();
            $("#dashButton").removeClass("positive");

            $("#mapButton").removeClass("positive");
            $("#tableButton").addClass("positive");
        }
        function OnDashClick() {
            $("#mapContainer").hide();
            $("#dashContainer").show();
            $("#tableContainer").hide();
            $("#tableButton").removeClass("positive");
            $("#mapButton").removeClass("positive");
            $("#dashButton").addClass("positive");
        }
    </script>
    <style>
        .hide {
            display: none;
        }
    </style>
</head>
<body id="feed">
    <div class="ui large teal vertical sidebar menu segment" ng-controller="Dictionaries.DictionaryController">
        <div ng-class="dimmerClass"><div class="ui large text loader">Обрабатываю запрос</div></div>
        <a class="active item">
            Найдено контрактов <span class="ui label">{{totalResult}}</span>
        </a>
        <div class="item">
            <i class="briefcase icon"></i> Контракт
            <div class="ui labeled input">
                <input type="text" placeholder="Номер реестровой записи контракта..." ng-model="cQuery.regnum">
                <div class="ui corner label">
                    <i class="asterisk icon"></i>
                </div>
            </div>
        </div>
        <div class="item">
            <i class="male icon"></i> Заказчик
            <div class="ui labeled input">
                <input type="text" placeholder="Название организации заказчика...">
                <div class="ui corner label">
                    <i class="asterisk icon"></i>
                </div>
            </div>
            <div class="ui labeled input">
                <input type="text" placeholder="КПП заказчика..." ng-model="cQuery.customerinn">
                <div class="ui corner label">
                    <i class="asterisk icon"></i>
                </div>
            </div>
            <div class="ui labeled input">
                <input type="text" placeholder="ИНН заказчика..." ng-model="cQuery.customerkpp">
                <div class="ui corner label">
                    <i class="asterisk icon"></i>
                </div>
            </div>
        </div>
        <div class="item">
            <i class="add icon"></i> Вид продукции
            <div class="ui labeled input">
                <input type="text" placeholder="Код продукции по ОКДП..." ng-model="cQuery.okdp">
                <div class="ui corner label">
                    <i class="asterisk icon"></i>
                </div>
            </div>
        </div>
        <div class="item">
            <i class="money icon"></i> Стоимость контратка, руб
            <div class="ui labeled input">
                <input type="text" placeholder="Нижняя граница контракта..." ng-model="cQuery.priceLower">
                <div class="ui corner label">
                    <i class="asterisk icon"></i>
                </div>
            </div>
            <div class="ui labeled input">
                <input type="text" placeholder="Верхняя граница контракта..." ng-model="cQuery.priceTop">
                <div class="ui corner label">
                    <i class="asterisk icon"></i>
                </div>
            </div>
        </div>
        <div class="item">
            <i class="money icon"></i> Дата заключения контракта
            <div class="ui labeled input">
                <input type="text"
                       id="datepickerLow"
                       placeholder="Нижняя граница даты..."
                       ng-model="cQuery.dateLower">
                <div class="ui corner label">
                    <i class="asterisk icon"></i>
                </div>
            </div>
            <div class="ui labeled input">
                <input type="text"
                       id="datepickerTop"
                       placeholder="Верхняя граница даты..."
                       ng-model="cQuery.dateTop">
                <div class="ui corner label">
                    <i class="asterisk icon"></i>
                </div>
            </div>
        </div>
        <div class="item">
            <i class="add icon"></i>
            <select id="cznSelectedBudgetLevels" style="width:200px"
                    data-placeholder="Уровень бюджета"
                    class="chzn-select"
                    ng-model="SelectedBudgetLevels"
                    ng-options="budgetLevel.budgetLevelName for budgetLevel in BudgetLevels"></select>
        </div>
        <div class="item">
            <i class="add icon"></i>
            <select id="cznSelectedPlacings" style="width:200px"
                    data-placeholder="Способ размещения"
                    class="chzn-select"
                    ng-model="SelectedPlacings"
                    ng-options="placing.description for placing in Placings"></select>
        </div>
        <div class="item">
            <i class="add icon"></i>
            <select id="cznRegions" style="width:200px"
                    data-placeholder="Регион"
                    class="chzn-select"
                    ng-model="SelectedRegion"
                    ng-options="region.name for region in Regions"></select>
        </div>
        <a class="item">
            <div class="ui icon input">
                <input type="text"
                       placeholder="Ключевые слова..."
                       ng-model="cQuery.productsearch">
                <i class="inverted purple search icon" ng-click="VM.BuildQuery()"></i>
            </div>
        </a>
        <div class="ui successful progress">
            <div class="bar" style="width:{{progress}}%"></div>
        </div>
    </div>
    <div class="ui left floated purple  launch button">
        <i class="list layout icon"></i> Критерии
    </div>
    <div class="ui buttons">
        <div id="mapButton" class="ui positive button" onclick="OnMapClick()">Карта</div>
        <div class="or"></div>
        <div id="tableButton" class="ui  button" onclick="OnTableClick()">Таблица</div>
        <div class="or"></div>
        <div id="dashButton" class="ui  button" onclick="OnDashClick()">Графики</div>
    </div>
    <div class="ui celled grid" style="width: 100%; height: 95%">
        <div id="mapContainer" class="row" style="width: 100%; height: 100%">
            <div class="one wide middle column" ng-controller="Maps.MapController" style="width: 100%; height: 100%; padding: 0px;">
                <div id="map" style="width: 100%; height: 100%"></div>
            </div>
        </div>
        <div class="row" ng-controller="Contracts.ContractsController">
            <div class="fifteen wide left column" style="width: 100%; padding: 0px;">
                <div id="tableContainer">
                    <table id="table" class="segment" style="width: 100%">
                        <thead>
                            <tr>
                                <th style="width: 35%">
                                    Покупатель
                                </th>
                                <th style="width: 15%">
                                    Дата
                                </th>
                                <th style="width: 10%" data-sort-initial="true">
                                    Цена
                                </th>
                                <th style="width: 30%">
                                    Поставщик
                                </th>
                                <th style="width: 10%">
                                    Контракт
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="contract in contracts">
                                <td style="width: 35%">
                                    <div style="width: 100%" class="ui left floated small button" ng-click="VM.ShowCustomer(contract.customer)">{{contract.customer.fullName}}</div>
                                </td>
                                <td style="width: 15%">
                                    <div style="width: 100%" class="ui label">{{contract.signDate | date:'yyyy-MM-dd'}}</div>
                                </td>
                                <td style="width: 10%" data-value="{{contract.price}}">
                                    <div style="width: 100%" class="ui label">{{contract.price | number:0}} рублей</div>
                                </td>
                                <td style="width: 30%">
                                    <div style="width: 100%" class="ui left floated small button" ng-click="VM.ShowSupplier(contract.suppliers.supplier)">{{contract.suppliers.supplier.organizationName}}</div>
                                </td>
                                <td style="width: 10%">
                                    <div style="width: 100%" class="ui left floated small button" ng-click="VM.ShowContract(contract)">
                                        Подробнее (товаров: {{contract.products.product.length}})
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <div class="pagination pagination-centered hide-if-no-paging"></div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div id="customerModal" style="overflow-y: scroll; max-height: 70%; display: none; background-color: white">
                <div>
                    <table id="" class="footable-loaded footable no-paging" style="width: 100%">
                        <thead>
                            <tr>
                                <td colspan="2">
                                    <div style="width: 100%">{{selectedCustomer.shortName}}</div>
                                </td>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>
                                    <div class="header">Полное название</div>
                                </td>
                                <td>
                                    {{selectedCustomer.fullName}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="header">Факс</div>
                                </td>
                                <td>
                                    {{selectedCustomer.fax}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="header">Адрес</div>

                                </td>
                                <td>
                                    {{selectedCustomer.factualAddress.addressLine}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="header">Регион</div>
                                </td>
                                <td>
                                    {{selectedCustomer.region.fullName}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="header">email</div>
                                </td>
                                <td>
                                    {{selectedCustomer.email}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="header">Телефон</div>
                                </td>
                                <td>
                                    {{selectedCustomer.phone}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="header">Заказчик</div>
                                </td>
                                <td>
                                    {{selectedCustomer.orderingAgency.fullName}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="header">Подчиняется</div>
                                </td>
                                <td>
                                    {{selectedCustomer.headAgency.fullName}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="header">Тип подчинения</div>
                                </td>
                                <td>
                                    {{selectedCustomer.subordinationType.description}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="header">Тип организации</div>
                                </td>
                                <td>
                                    {{selectedCustomer.organizationType.name}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="header">ОКОГУ</div>
                                </td>
                                <td>
                                    {{selectedCustomer.okogu.name}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="header">ОКОПФ</div>
                                </td>
                                <td>
                                    {{selectedCustomer.okopf.fullName}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="header">Контактное лицо</div>
                                </td>
                                <td>
                                    {{selectedCustomer.contactPerson.lastName}} {{selectedCustomer.contactPerson.firstName}} {{selectedCustomer.contactPerson.middleName}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="header">Бюджет</div>
                                </td>
                                <td>
                                    {{selectedCustomer.budgets.budget.name}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="header">Количество заключенных контрактов</div>
                                </td>
                                <td>
                                    {{selectedCustomer.contractsCount | number:0}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="header">Сумма заключенных контарктов</div>
                                </td>
                                <td>
                                    {{selectedCustomer.contractsSum | number:0}}
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    Количество контрактов по годам
                                </td>
                                <td>
                                    <div style="width: 100%; height: 150px" id="customerCountChart"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>Стоимость контрактов по годам</td>
                                <td>
                                    <div style="width: 100%; height: 150px" id="customerPriceChart"></div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="2">
                                    <a style="width: 100%" href="{{selectedCustomer.url}}">{{selectedCustomer.url}}</a>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div id="supplierModal" style="overflow-y: scroll; max-height: 70%; display: none; background-color: white">
                <div>
                    <table id="tableSupplierModal" style="width: 100%">
                        <thead>
                            <tr>
                                <td colspan="2">
                                    <div class="center">{{selectedSupplier.organizationForm}} {{selectedSupplier.organizationName}}</div>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="header">Адрес</div>
                                </td>
                                <td>
                                    {{selectedSupplier.factualAddress}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="header">Контакный телефон</div>
                                </td>
                                <td>
                                    {{selectedSupplier.contactPhone}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="header">Страна</div>
                                </td>
                                <td>
                                    {{selectedSupplier.country.countryFullName}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="header">Итого заключенных контрактов</div>
                                </td>
                                <td>
                                    {{selectedSupplier.contractsCount | number:0}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="header">Итого сумма контратов</div>
                                </td>
                                <td>
                                    {{selectedSupplier.contractsSum | number:0}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Количество контрактов по годам
                                </td>
                                <td>
                                    <div style="width: 100%; height: 150px" id="supplierCountChart"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>Стоимость контрактов по годам</td>
                                <td>
                                    <div style="width: 100%; height: 150px" id="supplierPriceChart"></div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="2">
                                    {{selectedSupplier.postalAddress}}
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div id="contractModal" style="overflow-y: scroll; max-height: 80%; display: none; background-color: white">
                <div>
                    <table id="tableContractModal" style="width: 100%">
                        <thead>
                            <tr>
                                <td colspan="2">
                                    <div style="width: 100%;height: 20px">{{selectedContract.documentBase}}</div>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width: 20%">
                                    <div class="header">Дата протокола</div>
                                </td>
                                <td style="width: 80%">
                                    {{selectedContract.protocolDate}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="header">Изменения</div>
                                </td>
                                <td>
                                    {{selectedContract.modification.description}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="header">Уровень бюджета</div>
                                </td>
                                <td>
                                    {{selectedContract.finances.budgetLevel.name}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="header">Источник финансирования</div>
                                </td>
                                <td>
                                    {{selectedContract.finances.financeSource}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="header">Стоимость контракта</div>
                                </td>
                                <td>
                                    {{selectedContract.price | number:0}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="header">Покупатель</div>
                                </td>
                                <td>
                                    <div style="width: 100%" class="ui left floated small button" ng-click="VM.ShowCustomer(selectedContract.customer, true)">{{selectedContract.customer.fullName}}</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Затраты по группам ОКДП
                                </td>
                                <td>
                                    <div style="width: 100%; height: 150px" id="valuePerOKDP"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>Цены по группам ОКДП</td>
                                <td>
                                    <div style="width: 100%; height: 150px" id="pricePerOKDP"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>Количество по группам ОКДП</td>
                                <td>
                                    <div style="width: 100%; height: 150px" id="countPerOKDP"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>Доля контрактах покупателя</td>
                                <td>
                                    <div style="width: 100%; height: 150px" id="percantagerCust"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>Доля контрактах поставщика</td>
                                <td>
                                    <div style="width: 100%; height: 150px" id="percantagerSupplier"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        <table id="innerTableContractModal" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Наименование</th>
                                    <th>ОКЕИ</th>
                                    <th>ОКДП</th>
                                    <th>количество</th>
                                    <th>цена</th>
                                    <th>стоимость</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="product in selectedContract.products.product">
                                    <td>{{product.name}}</td>
                                    <td>{{product.OKEI.name}}</td>
                                    <td>{{product.OKDP.name}}</td>
                                    <td data-type="numeric" data-value="{{product.quantity}}">{{product.quantity | number:0}}</td>
                                    <td data-type="numeric" data-value="{{product.price}}">{{product.price | number:0}}</td>
                                    <td data-type="numeric" data-value="{{product.sum}}">{{product.sum | number:0}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="6">
                                        <div class="pagination pagination-centered hide-if-no-paging"></div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="dashContainer" ng-controller="Contracts.ChartsController">
            <input type="button" ng-click="VM.ShowChart()" value="click" />
            <div id="chart1" style="width: 100%; height: 500px"></div>
            <div id="chart2" style="width: 100%; height: 500px"></div>
        </div>
    </div>
</body>
</html>